.header {
  background-image: var(--turquoise-gradient);
  clip-path: ellipse(76% 95% at center top);
  text-align: center;
  height: 20rem;
  padding-top: 6rem;
  margin-top: -5.125rem;
}

.header__title {
  font-size: 2rem;
  color: white;
}

.header__title--subpage {
  font-size: 1.5rem;
  margin-top: 0.3125rem;
}
